/* 
    button-start
*/


.el-offcanvas-btn-1 {
    width: 52px;
    height: 52px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    border-radius: 12px;
    font-size: 30px;
    color: #000;
    transition: .5s var(--el-cube-1);

    &:hover {
        background-color: #000;
        color: #fff;
    }
}

.el-pr-btn-1 {
    font-family: var(--el-font-1);
    display: inline-flex;
    align-items: center;
    padding: 6px;
    padding-right: 20px;
    background-color: var(--el-clr-pr-1);
    border-radius: 100px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    gap: 8px;
    transition: .5s var(--el-cube-1);
    color: #fff;

    .icon {
        width: 40px;
        height: 40px;
        background-color: #fff;
        border-radius: 50%;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        font-size: 22px;
        position: relative;
        color: var(--el-clr-pr-1);
        overflow: hidden;

        transition: .5s var(--el-cube-1);

        i {
            transition: .5s var(--el-cube-1);

            &:nth-child(1) {
                position: relative;
            }

            &:nth-child(2) {
                position: absolute;
                transform: translateX(-30px);
            }
        }
    }

    .text {
        position: relative;
        z-index: 1;
        overflow: hidden;
        color: inherit;
        transition: all .5s var(--el-cube-1);

        &::after {
            top: 0;
            left: 0;
            width: 100%;
            display: block;
            transition: all .5s var(--el-cube-1);
            position: absolute;
            content: attr(data-back);
            transform: translateY(100%);
        }

        &::before {
            top: 0;
            left: 0;
            display: block;
            transition: all .5s var(--el-cube-1);
            position: relative;
            content: attr(data-front);
            transform: translateY(0);
        }
    }


    &:hover {
        color: #fff;
        .icon {
            i {
                &:nth-child(1) {
                    transform: translateX(30px);
                }
    
                &:nth-child(2) {
                    transform: translateX(0px);
                }
            }
        }

        .text {
            &::after { transform: translateY(0%); }
            &::before { transform: translateY(-100%); }
        }
    }
}

/* 
    button-end
*/