/* 
    breadcrumb-start
*/

.el-breadcrumb {
    &-area {
        background-color: var(--el-clr-pr-1);
        margin: 16px;
        padding-top: 240px;
        padding-bottom: 240px;
        border-radius: 16px;

        @media #{$xl,$lg,$md,$xs} {
            margin: 8px;
        }
    }

    &-bg-img {
        position: absolute;
        right: 0;
        bottom: 0;
        width: 100%;
        z-index: -2;
    }


    &-wrap {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }


    &-title {
        font-family: var(--el-font-1);
        font-size: 70px;
        line-height: 1.058;
        color: #fff;
        font-weight: 700;
        margin-bottom: 0px;

    
        @media #{$xxl} {
            font-size: 60px;
        }
    
        @media #{$xl} {
            font-size: 55px;
        }
    
        @media #{$lg} {
            font-size: 50px;
        }
    
        @media #{$md} {
            font-size: 45px;
        }
    
        @media #{$xs} {
            font-size: 35px;
        }
    
        @media #{$sm} {
            font-size: 40px;
        }

    }

    &-list {
        display: flex;
        align-items: center;
        align-self: start;
        background: rgba(255, 255, 255, 0.1);
        border-radius: 100px;
        padding: 17px 28px;
        

        & a,& span {
            font-size: 18px;
            font-family: var(--el-font-1);
            font-weight: 400;
            line-height: 1;
            color: #fff;
            text-decoration: none;
            display: inline-block;
        }

        & a {
            padding-right: 26px;
            position: relative;
            transition: 300ms;
            margin-right: 9px;

            &:hover {
                color: var(--el-clr-sd-1);
            }

            &::after {
                content: "";
                position: absolute;
                background-image: url(../img/breadcrumb/icon.svg);
                width: 18px;
                height: 17px;
                right: 0px;
                top: 8px;
                transform: translateY(-50%);
                font-size: 20px;
            }
        }
        & span {
            opacity: 80%;
        }

    }


}


/* 
    breadcrumb-end
*/

/* 
    error-start
*/
.el-error-page {
    &-area {
        background: linear-gradient(0deg, #ffffff 60%, rgba(87, 88, 214, 1));
    }

    &-wrap {
        display: grid;
        align-items: center;
        gap: 50px;
        grid-template-columns: 1fr 1fr;

        @media #{$md,$xs} {
            grid-template-columns: 1fr;
            gap: 50px;
        }
    }

    &-content {
        .subtitle {
            font-family: var(--el-font-1);
            color: #101010;
            font-weight: 400;
            font-size: 80px;
            margin-bottom: 0;

            @media #{$lg,$md,$xs} {
                font-size: 40px;
            }
        }

        .title {
            font-family: var(--el-font-1);
            color: var(--el-clr-pr-1);
            font-size: 92px;
            font-weight: 700;
            margin-bottom: 18px;
            
            @media #{$lg,$md,$xs} {
                font-size: 60px;
            }
        }

        .disc {
            font-size: 20px;
            font-weight: 400;
            font-family: var(--el-font-1);
            margin-bottom: 32px;
            color: #4C504E;
            max-width: 420px;
        }


    }
}


/* 
    error-end
*/