/* 
    step-2-start
*/
.el-step-2 {
    &-wrap {
        display: grid;
        gap: 88px;
        grid-template-columns: 1fr 1.1fr;
        align-items: center;

        @media #{$xl,$lg} {
            gap: 50px;
            grid-template-columns: 1fr 1fr;
        
        }

        @media #{$md,$xs} {
            gap: 50px;
            grid-template-columns: 1fr;
        
        }
    }

    &-img {
        height: 762px;
        border-radius: 12px;

        @media #{$md,$xs} {
            height: auto;
        }
    }

    &-progress {
        display: flex;
        flex-direction: column;
        gap: 57px;



        &-single {
            display: flex;
            gap: 24px;

            .icon {
                width: 60px;
                height: 60px;
                background-color: #F5F5F5;
                display: flex;
                align-items: center;
                justify-content: center;
                flex: 0 0 auto;
                border-radius: 50%;
                font-size: 22px;
                color: var(--el-clr-pr-1);
                position: relative;
                z-index: 1;
                transition: .5s var(--el-cube-1);

                &::after {
                    content: "";
                    width: 2px;
                    height: 80%;
                    position: absolute;
                    top: 110%;
                    left: 50%;
                    transform: translateX(-50%);
                    background: linear-gradient(0deg, rgba(87, 88, 214, 0) 0%, #5758D6 100.14%);
                }
            }

            .title {
                font-size: 24px;
            }
            .number {
                font-size: 19px;
                font-weight: 700;
                opacity: 50%;
                transition: .5s var(--el-cube-1);
            }

            .title-x-number {
                display: flex;
                gap: 20px;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 20px;
                flex-wrap: wrap;
            }

            &:hover {
                .icon {
                    background-color: var(--el-clr-pr-1);
                    color: #fff;
                }
                .number {
                    opacity: 1;
                }
            }
        }
    }
}


/* 
    step-2-end
*/

/* 
    step-3-start
*/
.el-step-3 {
    &-sec-title {
        display: flex;
        align-items: center;
        gap: 40px;
        flex-wrap: wrap;
        justify-content: space-between;
        max-width: 1296px;
        margin-left: auto;
        margin-right: auto;

        .left {
            max-width: 630px;
        }
        
    }

    &-wrap {
        display: flex;
        justify-content: center;
        gap: 24px;
        flex-wrap: wrap;
    }
    
    &-card {
        display: flex;
        background-color: #F5F5F5;
        gap: 32px;
        overflow: hidden;
        padding: 40px 40px;
        border-radius: 16px;
        max-width: 120px;
        transition: .5s;
        width: 100%;

        @media #{$md,$xs} {
            max-width: 100%;

            padding: 40px 20px;
            flex-wrap: wrap;
        }


        .number {
            font-size: 120px;
            line-height: 1;
            color: var(--el-clr-pr-1);
            margin-top: -10px;
            transition: .5s;

            @media #{$md,$xs} {
                font-size: 80px;
            }
        }

        .title {
            font-size: 24px;
            color: #fff;
            @media #{$md,$xs} {
                color: #000;
            }

        }

        .disc {
            color: #fff;
            @media #{$md,$xs} {
                color: #000;
            }
        }

        .content-wrap {
            width: 596px;
            flex: 0 0 auto;
            min-height: 320px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            @media #{$xl,$lg} {
                width: 286px;
            }

            @media #{$md,$xs} {
                min-height: auto;
                gap: 40px;
                width: 100%;
                flex: unset;
            }
        }

        &:is(.active) {
            @media #{$over,$xxxl,$xxl,$xl,$lg} {
                max-width: 860px;
                background-color: var(--el-clr-pr-1);
    
                @media #{$xl,$lg} {
                    max-width: 500px;
                }
    
                .number {
                    color: #fff;
                }
            }
        }
    }
}


/* 
    step-3-end
*/